<script type="text/javascript">

    var Save = function () {

        return {
            init: function () {
                // alert("--------login_js2 7")
                Save.initSubmit();
            },

            initSubmit: function () {
                // alert("--------login_js2 12")
                var defaultParam = {
                    fromID: "saveForm"
                };
                var param = $.extend({}, defaultParam);
                // alert("--------login_js2 17"+defaultParam.fromID)
                $('#' + defaultParam.fromID).submit(function () {
                    // alert("--------login_js2 19")
                    Save.initgetnewfrom(defaultParam);
                });
            }
            ,
            initgetnewfrom: function (sth) {
                // alert("--------login_js2 25")
                var newfrom = $('#' + sth.fromID).serializeObject();
                // alert("--------login_js2 27")
                Save.initsetnewfrom(newfrom);
            },

            initsetnewfrom: function (param) {
                // alert("------------login_js 66")
                $.ajax({
                    url: "/school/save.json",
                    //提交类型
                    contentType: "application/json;charset=utf-8",
                    //提交方法
                    type: "post",
                    //提交的数据
                    data: JSON.stringify(param),
                    success: function (resp) {
                        console.log('....resp:'+ JSON.stringify(resp) + 'code:' + resp.resultCode);
                        // alert(JSON.stringify(resp))
                        if (resp.success){
                            location.href = "/school";
                        }else{
                           alert("提交失败")
                        }
                    }
                });
            }
        }
    }();
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = this.value;
                }
                o[this.name].push(this.value || '')
            } else {
                o[this.name] = (this.value || '')
            }
        });
        return o;
    };

    $(document).ready(function () {
        Save.init();
    });

</script>